<?xml version="1.0" encoding="utf-8"?>
<!--XML Snippet Definition-->
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Test Snippet</Title>
      <Author>Gerhard Ahrens</Author>
      <Description>Beschreibung zum Test Snippet</Description>
      <HelpUrl>www.lifeprojects.de</HelpUrl>
      <Shortcut>FSTestSnippet</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>SnippetText</ID>
          <ToolTip>ToolTip, SnippetText</ToolTip>
          <Default>Default, SnippetText</Default>
          <Function>Function, SnippetText</Function>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[// Kommentar]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>